@page
@model ServiceHost.Areas.UserPanel.Pages.Orders.IndexModel
@{
    ViewData["Title"] = "مشاهده سفارش های من";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title"></h1>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a href="/">صفحه اصلی</a>
                            </li>
                            <li>
                                <a>@ViewData["Title"]</a>
                            </li>
                            <li class="active">سفارش های من</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                @await Component.InvokeAsync("UserSideBar")
                <div class="col-sm-12 col-md-9 col-lg-9 userpanel-dashboard-right">
                    <div class="panel panel-default">
                        @* @if (Model.EditMessage != null)
                        {
                        <div class="alert alert-danger">@Model.EditMessage</div>
                        }*@
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="portlet blue-madison box">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <i class="fa fa-shopping-cart"></i>سفارش های من
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-bordered table-striped">
                                                    <thead>
                                                    <tr>
                                                        <th>ردیف</th>
                                                        <th>شماره سفارش</th>
                                                        <th>تاریخ خرید</th>
                                                        <th>مبلغ</th>
                                                        <th>وضعیت</th>
                                                        <th>جزئیات</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td class="engnum">Mann Co. Supply Crate Key</td>
                                                        <td>52,805555535230</td>
                                                        <td>15325325</td>
                                                        <td>52,800</td>
                                                        <td>52,800</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


