@page "{id}"
@model ServiceHost.Pages.ActiveAccountModel
@{
    ViewData["Title"] = "فعالسازی حساب کاربری";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">

                <div class="breadcrumb-wrapper breadcrumb-bg">

                    <div class="breadcrumb-content">
                        <h1 class="breadcrumb-content__title">@ViewData["Title"]</h1>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="./Index">صفحه اصلی</a></li>
                            <li class="active">فعال سازی</li>
                        </ul>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                @if (Model.ActiveMessage)
                                {
                                    <div class="alert-success p-4 rounded">
                                        <h2>عملیات با موفق!</h2>
                                        <p>حساب کاربری شما با موفقیت فعال شد !</p>
                                        @* <p>
                                            <a asp-page="/Login">ورود به سایت</a>
                                        </p>*@
                                        
                                        <p>
                                            <a asp-page="/Index">بازگشت به صفحه اصلی</a>
                                        </p>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert-danger p-4 rounded">
                                        <h2>عملیات نا موفقیت بود!</h2>
                                        <p>حساب کاربری با مشخصات وارد شده یافت نشد !</p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
