@page
@model ServiceHost.Pages.ForgotPasswordModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title"> بازیابی رمز عبور</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a asp-page="/Index">صفحه اصلی</a></li>
                            <li class="active"> بازیابی رمز عبور</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row justify-content-center">
                            <div class="col-sm-6 col-md-6 col-xs-6 col-lg-6">
                                @if (Model.ForgotMessage != null)
                                {
                                    <div class="alert alert-warning">@Model.ForgotMessage</div>
                                }
                                <form method="post">
                                    <div class="login-form">
                                        <h4 class="login-title">بازیابی رمز عبور</h4>
                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <label asp-for="Command.Email">ایمیل</label>
                                                <input type="text" placeholder="ایمیل" asp-for="Command.Email">
                                                <span class="text-danger" asp-validation-for="Command.Email"></span>
                                            </div>
                                            <div class="col-sm-6 text-left text-sm-right">
                                                <a asp-page="/Login" class="forget-pass-link"> ورود به سایت</a>
                                            </div>

                                            <div class="col-md-12">
                                                <button class="register-button">تغییر</button>
                                            </div>

                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
