@page
@model ServiceHost.Pages.ProductCategoryModel
@{
    ViewData["Title"] = "گروه محصولات";
}

<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              
                <div class="header-wrapper d-none d-lg-flex">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html">
                            <img src="assets/img/logo.png" class="img-fluid" alt="">
                        </a>
                    </div>
                  
                    <div class="navigation-menu-wrapper">
                        <nav>
                            <ul>
                                <li>
                                    <a href="index.html">HOME</a>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">PAGES</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="#">Page List One</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="cart.html">Cart</a>
                                                </li>
                                                <li>
                                                    <a href="checkout.html">Checkout</a>
                                                </li>
                                                <li>
                                                    <a href="wishlist.html">Wishlist</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">page list two</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="my-account.html">My Account</a>
                                                </li>
                                                <li>
                                                    <a href="login-register.html">Login Register</a>
                                                </li>
                                                <li>
                                                    <a href="faq.html">FAQ</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Page list three</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="compare.html">Compare</a>
                                                </li>
                                                <li>
                                                    <a href="contact.html">Contact</a>
                                                </li>
                                                <li>
                                                    <a href="about.html">About Us</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="blog-left-sidebar.html">BLOG</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="blog-left-sidebar.html">Blog Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-right-sidebar.html">Blog Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-left-sidebar.html">Blog Post Left Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-right-sidebar.html">Blog Post Right Sidebar</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-image-format.html">Blog Post Image Format</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-image-gallery.html">Blog Post Image Gallery</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-audio-format.html">Blog Post Audio Format</a>
                                        </li>
                                        <li>
                                            <a href="blog-post-video-format.html">Blog Post Video Format</a>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <a href="contact.html">CONTACT</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                   
                    <div class="header-icon-wrapper">
                        <ul class="icon-list">
                            <li>
                                <a href="javascript:void(0)" id="search-overlay-trigger">
                                    <i class="ion-ios-search-strong"></i>
                                </a>
                            </li>
                            <li>
                                <div class="header-cart-icon">
                                    <a href="#" id="minicart-trigger">
                                        <i class="ion-bag"></i>
                                        <span class="counter">3</span>
                                    </a>
                                    <div class="mini-cart" id="mini-cart">
                                        <div class="cart-items-wrapper ps-scroll">
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-1-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $402</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-2-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Lorem ipsum furniture</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $500</p>
                                                </div>
                                            </div>
                                            <div class="single-cart-item">
                                                <a href="javascript:void(0)" class="remove-icon">
                                                    <i class="ion-android-close"></i>
                                                </a>
                                                <div class="image">
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/product-3-80x106.jpg"
                                                             class="img-fluid" alt="">
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <p class="product-title">
                                                        <a href="single-product.html">Cillum dolore tool</a>
                                                    </p>
                                                    <p class="count"><span>1 x </span> $607</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cart-calculation">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right">Sub-Total :</td>
                                                        <td class="text-left">$220.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Eco Tax (-2.00) :</td>
                                                        <td class="text-left">$6.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">VAT (20%) :</td>
                                                        <td class="text-left">$44.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-right">Total :</td>
                                                        <td class="text-left">$270.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="cart-buttons">
                                            <a href="cart.html">VIEW CART</a>
                                            <a href="checkout.html">CHECKOUT</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="header-settings-icon">
                                    <a href="javascript:void(0)" class="header-settings-trigger"
                                       id="header-settings-trigger">
                                        <div class="setting-button">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </div>
                                    </a>

                                    <div class="settings-menu-wrapper" id="settings-menu-wrapper">
                                        <div class="single-settings-block">
                                            <h4 class="title">MY ACCOUNT </h4>
                                            <ul>
                                                <li>
                                                    <a href="login-register.html">Register</a>
                                                </li>
                                                <li>
                                                    <a href="login-register.html">Login</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="single-settings-block">
                                            <h4 class="title">CURRENCY: USD </h4>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">€ Euro</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">$ US Dollar</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="single-settings-block">
                                            <h4 class="title">LANGUAGE: EN-GB </h4>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="assets/img/icons/en-gb.png"
                                                             alt=""> English
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <img src="assets/img/icons/de-de.png"
                                                             alt=""> Germany
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            <div class="header-mobile-navigation d-block d-lg-none">
                    <div class="row align-items-center">
                        <div class="col-6 col-md-6">
                            <div class="header-logo">
                                <a href="index.html">
                                    <img src="assets/img/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-6 col-md-6">
                            <div class="mobile-navigation text-right">
                                <div class="header-icon-wrapper">
                                    <ul class="icon-list justify-content-end">
                                        <li>
                                            <div class="header-cart-icon">
                                                <a href="cart.html">
                                                    <i class="ion-bag"></i>
                                                    <span class="counter">3</span>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="mobile-menu-icon"
                                               id="mobile-menu-trigger">
                                                <i class="fa fa-bars"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
               
                <div class="breadcrumb-wrapper breadcrumb-bg">
                   
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">Shop</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li><a href="index.html">Home</a></li>
                            <li class="active">Shop</li>
                        </ul>
                    </div>
                   
                </div>
              
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                              
                                <div class="shop-header">
                                    <div class="shop-header__left">
                                        <div class="shop-header__left__message">
                                            Showing 1 to 9 of 15 (2 Pages)
                                        </div>
                                    </div>

                                    <div class="shop-header__right">

                                        <div class="single-select-block d-inline-block">
                                            <span class="select-title">Show:</span>
                                            <select>
                                                <option value="1">10</option>
                                                <option value="2">20</option>
                                                <option value="3">30</option>
                                                <option value="4">40</option>
                                            </select>
                                        </div>

                                        <div class="single-select-block d-inline-block">
                                            <span class="select-title">Sort By:</span>
                                            <select class="pr-0">
                                                <option value="1">Default</option>
                                                <option value="2">Name (A-Z)</option>
                                                <option value="3">Price (min - max)</option>
                                                <option value="4">Color</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                              
                            </div>

                            <div class="col-lg-12">
                               
                                <div class="shop-page-content">

                                    <div class="row shop-product-wrap grid three-column">
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                          
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">
                                                    <div class="single-grid-product__label">
                                                        <span class="sale">-20%</span>
                                                        <span class="new">New</span>
                                                    </div>
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/1_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Decor</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a asp-page="/ProductDetails">
                                                            Cillum dolore lorem ipsum
                                                            decoration item
                                                        </a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="discounted-price">$100.00</span> <span class="main-price discounted">$120.00</span>
                                                    </p>
                                                    <div class="product-countdown" data-countdown="2020/06/10"></div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                           
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">
                                                    <div class="single-grid-product__label">
                                                        <span class="sale">-20%</span>
                                                    </div>
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/2-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/2_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Decor</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a href="single-product.html">
                                                            lorem ipsum cillium dolore
                                                            decoration item
                                                        </a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="discounted-price">$20.00</span> <span class="main-price discounted">$40.00</span>
                                                    </p>
                                                    <div class="product-countdown" data-countdown="2020/06/10"></div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                          
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">
                                                    <div class="single-grid-product__label">
                                                        <span class="new">New</span>
                                                    </div>
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/3-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/3_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Vase</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a href="single-product.html">lorem ipsum decoration item</a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="discounted-price">$40.00</span> <span class="main-price discounted">$60.00</span>
                                                    </p>
                                                    <div class="product-countdown" data-countdown="2020/06/10"></div>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                           
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">

                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/4-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/4_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Furniture</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a href="single-product.html">
                                                            Cillum dolore lorem ipsum
                                                            decoration item
                                                        </a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="main-price">$120.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                           
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">
                                                    <div class="single-grid-product__label">
                                                        <span class="sale">-20%</span>
                                                        <span class="new">New</span>
                                                    </div>
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/5-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/5_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Decor</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a href="single-product.html">
                                                            Cillum dolore lorem ipsum
                                                            decoration item
                                                        </a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="discounted-price">$80.00</span> <span class="main-price discounted">$100.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                           
                                        </div>
                                        <div class="col-12 col-lg-4 col-md-4 col-sm-6">
                                           
                                            <div class="single-grid-product grid-view-product">
                                                <div class="single-grid-product__image">
                                                    <div class="single-grid-product__label">
                                                        <span class="sale">-20%</span>
                                                    </div>
                                                    <a href="single-product.html">
                                                        <img src="assets/img/products/6-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                        <img src="assets/img/products/6_1-600x800.jpg" class="img-fluid"
                                                             alt="">
                                                    </a>

                                                    <div class="hover-icons">
                                                        <a href="javascript:void(0)">
                                                            <i class="ion-bag"></i>
                                                        </a>
                                                        <a href="javascript:void(0)" data-toggle="modal"
                                                           data-target="#quick-view-modal-container">
                                                            <i class="ion-android-open"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="single-grid-product__content">
                                                    <div class="single-grid-product__category-rating">
                                                        <span class="category">
                                                            <a href="shop-left-sidebar.html">Decor</a>
                                                        </span>
                                                        <span class="rating">
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star active"></i>
                                                            <i class="ion-android-star-outline"></i>
                                                        </span>
                                                    </div>

                                                    <h3 class="single-grid-product__title">
                                                        <a href="single-product.html">
                                                            Cillum lorem ipsum ipsum furniture
                                                            item
                                                        </a>
                                                    </h3>
                                                    <p class="single-grid-product__price">
                                                        <span class="discounted-price">$80.00</span> <span class="main-price discounted">$100.00</span>
                                                    </p>
                                                </div>
                                            </div>
                                            
                                        </div>

                                    </div>

                                </div>

                               
                                <div class="pagination-area">
                                    <div class="pagination-area__left">
                                        Showing 1 to 9 of 11 (2 Pages)
                                    </div>
                                    <div class="pagination-area__right">
                                        <ul class="pagination-section">
                                            <li>
                                                <a class="active" href="#">1</a>
                                            </li>
                                            <li>
                                                <a href="#">2</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
