<li>
    <a href="javascript:void(0)" id="search-overlay-trigger">
        <i class="ion-ios-search-strong"></i>
    </a>
</li>
<li>
    <div class="header-cart-icon">
        <a href="#" id="minicart-trigger">
            <i class="ion-bag"></i>
            <span class="counter" id="cart_items_count"></span>
        </a>
        <div class="mini-cart" id="mini-cart">
            <div class="cart-items-wrapper ps-scroll" id="cart_items_wrapper">
               
                
            </div>
            <div class="cart-calculation">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right">Sub-Total :</td>
                            <td class="text-left">$220.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">Eco Tax (-2.00) :</td>
                            <td class="text-left">$6.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">VAT (20%) :</td>
                            <td class="text-left">$44.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">Total :</td>
                            <td class="text-left">$270.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart-buttons">
                <a href="cart.html">VIEW CART</a>
                <a href="checkout.html">CHECKOUT</a>
            </div>
        </div>
    </div>
</li>