<li>
    <a href="javascript:void(0)" id="search-overlay-trigger">
        <i class="ion-ios-search-strong"></i>
    </a>
</li>
<li>
    <div class="header-cart-icon">
        <a href="#" id="minicart-trigger">
            <i class="ion-bag"></i>
            <span class="counter" id="cart_items_count"></span>
        </a>
        <div class="mini-cart" id="mini-cart">
            <div class="cart-items-wrapper ps-scroll">
                <div class="single-cart-item">
                    <a href="javascript:void(0)" class="remove-icon">
                        <i class="ion-android-close"></i>
                    </a>
                    <div class="image">
                        <a href="single-product.html">
                            <img src="~/Theme/assets/img/products/product-1-80x106.jpg"
                                 class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <p class="product-title">
                            <a href="single-product.html">Cillum dolore furniture</a>
                        </p>
                        <p class="count"><span>1 x </span> $402</p>
                    </div>
                </div>
                <div class="single-cart-item">
                    <a href="javascript:void(0)" class="remove-icon">
                        <i class="ion-android-close"></i>
                    </a>
                    <div class="image">
                        <a href="single-product.html">
                            <img src="~/Theme/assets/img/products/product-2-80x106.jpg"
                                 class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <p class="product-title">
                            <a href="single-product.html">Lorem ipsum furniture</a>
                        </p>
                        <p class="count"><span>1 x </span> $500</p>
                    </div>
                </div>
                <div class="single-cart-item">
                    <a href="javascript:void(0)" class="remove-icon">
                        <i class="ion-android-close"></i>
                    </a>
                    <div class="image">
                        <a href="single-product.html">
                            <img src="~/Theme/assets/img/products/product-3-80x106.jpg"
                                 class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="content">
                        <p class="product-title">
                            <a href="single-product.html">Cillum dolore tool</a>
                        </p>
                        <p class="count"><span>1 x </span> $607</p>
                    </div>
                </div>
            </div>
            <div class="cart-calculation">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right">Sub-Total :</td>
                            <td class="text-left">$220.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">Eco Tax (-2.00) :</td>
                            <td class="text-left">$6.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">VAT (20%) :</td>
                            <td class="text-left">$44.00</td>
                        </tr>
                        <tr>
                            <td class="text-right">Total :</td>
                            <td class="text-left">$270.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cart-buttons">
                <a href="cart.html">VIEW CART</a>
                <a href="checkout.html">CHECKOUT</a>
            </div>
        </div>
    </div>
</li>