@page
@model ServiceHost.Areas.Administration.Pages.Accounts.Role.CreateModel
@{
    ViewData["Title"] = "ایجاد نقش جدید";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="m-t-0 header-title"><b>ایجاد مقاله جدید</b></h4>
            </div>
            <div class="panel-body">
                <form method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Command.Name" class="control-label">نام</label>
                                <input type="text" class="form-control" asp-for="Command.Name">
                                <span asp-validation-for="Command.Name" class="error"></span>
                            </div>
                        </div>
                        <div class="col-md-6 right-create-role">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">دسترسی های نقش</h4>
                                    <ul>

                                        <li>
                                            <input type="checkbox" name="SelectedPermission" value="" /> test


                                            <ul>
                                                <li>

                                                    <input type="checkbox" name="SelectedPermission" value="" /> fdsfd

                                                    <ul>

                                                        <li>
                                                            <input type="checkbox" name="SelectedPermission" value="" /> test
                                                        </li>

                                                    </ul>

                                                </li>
                                            </ul>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light">ایجاد</button>
                    <a asp-page="./Index" class="btn btn-default waves-effect">بازگشت</a>
                </form>
            </div>
        </div>
    </div>
</div>