<!-- Nav tabs -->
<div class="col-md-3 col-sm-12 col-xs-12 sidebar-left">
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a asp-area="UserPanel" asp-page="/Index" class="nav-link active show">داشبورد</a></li>
            <li><a asp-area="UserPanel" asp-page="/ChangePassword/Index" class="nav-link">تغییر کلمه ی عبور</a></li>
            <li><a asp-area="UserPanel" asp-page="/EditProfile/Index" class="nav-link">ویرایش اطلاعات</a></li>
            <li><a asp-area="UserPanel" asp-controller="Ticket" asp-action="AddTicket" class="nav-link">ثبت تیکت جدید</a></li>
            <li><a asp-area="UserPanel" asp-controller="Ticket" asp-action="Index" class="nav-link">لیست تیکت ها</a></li>
            <li><a asp-area="UserPanel" asp-controller="Seller" asp-action="RequestSellerPanel" class="nav-link">درخواست پنل فروشندگی</a></li>
            <li><a asp-area="UserPanel" asp-controller="Seller" asp-action="SellerRequests" class="nav-link">درخواست های فروشندگی</a></li>
            <li><a asp-controller="Account" asp-action="LogOut" class="nav-link">خروج</a></li>
        </ul>
    </div>
</div>
