<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    
    <link rel="shortcut icon" href="~/AdminTheme/assets/images/favicon.ico">

    <title>@ViewData["Title"] | Exclusive_OnlineShop</title>
    
    <partial name="_MetaTags"/>

    <partial name="_Styles" />

</head>


<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <partial name="_TopBar" />
        <!-- ========== Left Sidebar Start ========== -->


        <partial name="_Menu" />


        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">

                    @RenderBody()

                </div> <!-- container -->

            </div> <!-- content -->

          <partial name="_Footer"/>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->

    </div>
    <!-- END wrapper -->
    <partial name="_Modal"/>

    <partial name="_StylesJs" />

    <partial name="_Scripts" />

    @RenderSection("Scripts",false)


</body>
</html>