@model List<_01_ExclusiveQuery.Contracts.ProductCategory.ProductCategoryQueryModel>


<div class="category-area section-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="category-wrapper">
                    <div class="row row-10 ">
                        
                        <div class="col-lg-4 col-sm-6 grid-item">

                            <div class="single-category-item">
                                <div class="single-category-item__image">
                                    <a asp-page="/ProductCategory">
                                        <img src="~/Theme/assets/img/category/img1-top-eposi1.jpg" class="img-fluid" alt="">
                                    </a>
                                </div>
                                <div class="single-category-item__content">
                                    <h3 class="title">Storage</h3>
                                    <a href="shop-left-sidebar.html">
                                        <i class="ion-android-arrow-dropleft-circle"></i> Shop Now
                                    </a>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>