@model AccountManagement.Domain.AccountAgg.Account

<div style="direction: rtl; padding: 20px">
    <h2>@Model.Username عزیز!</h2>
    <p>با تشکر از ثبت نام شما در , جهت ادامه لطفا حساب کاربری خود را فعال کنید</p>
    <p>
        <a href="https://localhost:7018/ActiveAccount/@Model.ActiveCode">فعالسازی حساب کاربری </a>
    </p>
</div>