@model AccountManagement.Domain.AccountAgg.Account
<div style="direction: rtl; padding: 20px">
    <h2>@Model.Username عزیز!</h2>
    <p>جهت بازیابی حساب کاربری خود روی لینک زیر کلیک کنید</p>
    <p>
        <a href="https://localhost:7018/ResetPassword/@Model.ActiveCode">بازیابی رمز عبور </a>
    </p>
</div>