@model AccountManagement.Application.Contracts.Account.User.EditUserProfile

<div style="direction: rtl; padding: 20px">
    <h2> کاربر عزیز ! </h2>
    <p>ایمل شما  به <h1>@Model.Email</h1> تغییر کرد</p>
    <p>اگر این تغییرات را شما اعمال نکردید لطفا با پشتیبانی در میان بگذارید</p>
</div>