@page
@model ServiceHost.Pages.Shared.CartModel
@{
    ViewData["Title"] = "";
}


<div class="breadcrumb-area section-space--half">
    <div class="container wide">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-wrapper breadcrumb-bg">
                    <div class="breadcrumb-content">
                        <h2 class="breadcrumb-content__title">سبد خرید شما</h2>
                        <ul class="breadcrumb-content__page-map">
                            <li>
                                <a asp-page="./Index">خانه</a>
                            </li>
                            <li class="active">سبد خرید</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!--=======  page wrapper  =======-->
                <div class="page-wrapper">
                    <div class="page-content-wrapper">
                        <form action="#">
                            <div class="cart-table table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="pro-thumbnail">Image</th>
                                            <th class="pro-title">Product</th>
                                            <th class="pro-price">Price</th>
                                            <th class="pro-quantity">Quantity</th>
                                            <th class="pro-subtotal">Total</th>
                                            <th class="pro-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="assets/img/products/big1-1.jpg" class="img-fluid" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">Cillum dolore tortor nisl fermentum</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="1" min="1">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$29.00</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="assets/img/products/big1-2.jpg" class="img-fluid" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">Auctor gravida pellentesque</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>$30.00</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="1" min="1">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$60.00</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="assets/img/products/big1-3.jpg" class="img-fluid" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">Condimentum posuere consectetur</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>$25.00</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="1" min="1">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$25.00</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="pro-thumbnail">
                                                <a href="single-product.html">
                                                    <img src="assets/img/products/big1-4.jpg" class="img-fluid" alt="Product">
                                                </a>
                                            </td>
                                            <td class="pro-title">
                                                <a href="single-product.html">Habitasse dictumst elementum</a>
                                            </td>
                                            <td class="pro-price">
                                                <span>$11.00</span>
                                            </td>
                                            <td class="pro-quantity">
                                                <div class="quantity-selection">
                                                    <input type="number" value="1" min="1">
                                                </div>
                                            </td>
                                            <td class="pro-subtotal">
                                                <span>$11.00</span>
                                            </td>
                                            <td class="pro-remove">
                                                <a href="#">
                                                    <i class="fa fa-trash-o"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-lg-6 col-12 d-flex">
                                <div class="cart-summary">
                                    <div class="cart-summary-wrap">
                                        <h4>Cart Summary</h4>
                                        <p>Sub Total <span>$1250.00</span></p>
                                        <p>Shipping Cost <span>$00.00</span></p>
                                        <h2>Grand Total <span>$1250.00</span></h2>
                                    </div>
                                    <div class="cart-summary-button">
                                        <button class="checkout-btn">Checkout</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>